.wrapper {
  &[data-show-background="true"] {
    border-radius: 1.5em;

    @apply bg-gray-100/10 px-14;
  }
}

.clock {
  font-weight: bold;
  font-size: var(--size);

  @apply flex flex-row items-center gap-6;
}
