.wrapper {
  font-weight: bold;

  @apply font-bold flex flex-row items-center gap-6 w-fit;

  &[data-show-background="true"] {
    padding-inline: 0.3em;
    border-radius: 0.15em;

    @apply bg-gray-100/10;
  }
}
