.settings-buttons {
  @apply fixed left-4 top-4 flex flex-row items-center gap-1;

  & button {
    @apply p-1.5 rounded-full text-xl;
    @apply duration-300 opacity-0 invisible text-gray-100/50;

    &[data-visible="true"] {
      @apply opacity-100 visible;
    }

    &:hover {
      @apply bg-gray-100/20 text-white;
    }
  }
}

.settings-wrapper {
  --width: 23rem;
  --padding: 1rem;

  padding: var(--padding);

  @apply fixed inset-0 bg-black/30 backdrop-blur-md;

  &[data-open="false"] {
    visibility: hidden;
    transition: visibility 0s linear 300ms;
  }

  &[data-open="true"] {
    visibility: visible;
    transition: visibility 0s linear 0s;

    & .settings-content {
      transform: translateX(0);
    }
  }
}

.settings-content {
  max-width: var(--width);
  transition: transform 0.3s ease-in-out;
  transform: translateX(calc(-1 * var(--width) - var(--padding)));

  @apply flex flex-col gap-4;
  @apply bg-gray-100/20 rounded-xl py-4 pl-5 pr-3 h-full overflow-y-auto;

  & header {
    @apply flex flex-row items-center gap-1.5;

    & h1 {
      @apply font-bold text-lg;
    }

    & :is(button, div) {
      @apply text-gray-100/50;
    }

    & div {
      @apply pt-0.5;
    }

    & button {
      @apply ml-auto p-1 rounded-full text-lg duration-300;

      &:hover {
        @apply bg-gray-100/10 text-white;
      }
    }
  }
}

.settings-list {
  @apply flex flex-col gap-6;

  & .settings-item {
    @apply flex flex-col items-start;

    & .description {
      @apply text-gray-100/50 text-sm mt-0.5 mb-1;
    }

    & .label {
      @apply text-gray-100/80;
    }
  }
}

.settings-footer {
  @apply mt-auto text-sm flex flex-row items-center;
}

.github-link {
  @apply text-sm flex flex-row items-center gap-1 text-gray-100/50 duration-300;

  &:hover {
    @apply text-white;
  }
}
